h1{
    text-align: center;
}

.title{
    display: flex;
    justify-content: center;
    align-content: center;
}

.ui{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    display: flex;
    flex-direction: column;
    text-align: center;
}

p{
    text-align: center;
}