body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: white;
}

.title{
    display: flex;
    justify-content: center;
    align-content: center;
}

h1{
    text-align: center;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 40px;
    font-size: 50px;
}

.fizz{
    color: blue;
    transition: 0.4s;
    cursor: default;
}

.fizz:hover{
    margin-left: -5px;
    margin-right: 5px;
    color: rgba(0, 0, 255, 0);
}

.buzz{
    color: green;
    cursor: default;
}

.buzz:hover{
    animation: vibrate 50ms linear infinite forwards;
    display: inline-block;
}

@keyframes vibrate{
    0% {
        transform: translateX(-1px) translateY(1px);
    }
    100% {
        transform: translateX(1px) translateY(-2px);
    }
}

.description-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.description{
    width: 350px;
    margin: 20px 0;
    padding: 5px;
    transition: 0.25s;
    background-color: white;
}

.description p{
    font-size: 11px;
    font-weight: 400;
    margin: 0;
    text-align: justify;
    transition: 0.15s;
}

.description:hover{
    width: 500px;
}

.description:hover p{
    font-size: 18px;
}

.ui{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
}

input{
    margin-top: 3px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "Montserrat", sans-serif;
}

button{
    margin: 10px 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 25px;
    background-color: rgb(222, 233, 255);
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(204, 220, 253);
}

button:active{
    background-color: rgb(186, 209, 255);
}

.display-numbers{
    max-width: 400px;
    text-align: justify;
    padding: 0 20px;
}

.numbers-paragraph-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 400px){
    .fizz{
        color: blue;
        transition: 0.4s;
        cursor: default;
    }
    
    .fizz:hover{
        margin-left: 0;
        margin-right: 0;
        color: blue;
    }

    .fizz:active{
        margin-left: -5px;
        margin-right: 5px;
        color: rgba(0, 0, 255, 0);
    }
    
    .buzz{
        color: green;
        cursor: default;
    }
    
    .buzz:hover{
        animation: none;
        display: inline-block;
    }

    .buzz:active{
        animation: vibrate 50ms linear infinite forwards;
        display: inline-block;
    }

    .description{
        width: 350px;
        margin: 20px 0;
        border: solid 1px rgba(0, 0, 0, 0.123);
        padding: 5px;
        transition: 0.25s;
        background-color: white;
    }
    
    .description p{
        font-size: 11px;
        font-weight: 400;
        margin: 0;
        text-align: justify;
        transition: 0.15s;
    }
    
    .description:hover{
        width: 350px;
    }

    .description:active{
        width: 500px;
    }
    
    .description:hover p{
        font-size: 11px;
    }

    .description:active p{
        font-size: 18px;
    }
}
