body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1{
    text-align: center;
    font-weight: 200;
    margin: 20px 0 0 0;
    line-height: 40px;
    font-size: 50px;
}

.fizz{
    color: blue;
    transition: 0.4s;
    cursor: default;
}

.fizz:hover{
    margin-left: -5px;
    margin-right: 5px;
    color: rgba(0, 0, 255, 0);
}

.buzz{
    color: green;
    cursor: default;
}

.buzz:hover{
    animation: vibrate 50ms linear infinite forwards;
    display: inline-block;
}

@keyframes vibrate{
    0% {
        transform: translateX(-1px) translateY(1px);
    }
    100% {
        transform: translateX(1px) translateY(-2px);
    }
}

.title{
    display: flex;
    justify-content: center;
    align-content: center;
}

.description-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.description{
    width: 350px;
    margin: 20px 0;
    border: solid 1px rgba(0, 0, 0, 0.123);
    padding: 5px;
    transition: 0.25s;
}

.description p{
    font-size: 11px;
    font-weight: 400;
    margin: 0;
    text-align: justify;
    transition: 0.15s;
}

.description:hover{
    width: 500px;
}

.description:hover p{
    font-size: 15px;
}

.ui{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0px;
}

input{
    margin-top: 10px;
}

button{
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.display-numbers{
    text-align: center;
}

