body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    font-weight: 200;
    margin: 20px 0 0 0;
    line-height: 40px;
    font-size: 50px;
}

.fizz{
    color: blue;
    transition: 0.4s;
    cursor: default;
}

.fizz:hover{
    margin-right: 20px;
    color: white;
}

.buzz{
    color: green;
}

.title{
    display: flex;
    justify-content: center;
    align-content: center;
}

.ui{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-top: 80px;
}

input{
    margin-top: 10px;
}

button{
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

p{
    text-align: center;
}